<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>The Soccer DataBase</h1>
  <div>
	  <table style="width:100%">
		  <tr>
			  <th>Player</th>
			  <th>Goals</th>
		  </tr>
		  {% for n in range(10) %}
		  <tr>
			  <td>{{data[n]}}</td>
			  <td>{{data1[n]}}</td>
		  </tr>
		  {% endfor %}
	  </table>
  </div>

<p><a href="/">Home</a></p>
<p><a href="player">Player Database</a></p>
<p><a href="team">Team Database</a></p>
<p><a href="tournament">Tournament Database</a></p>
<p><a href="match">Match Database</a></p>
<p><a href="sponsor">Sponsor Database</a></p>


</body>


</html>
