<html>
<link rel="stylesheet" href="https://ww.w3school.com/w3css/4/w3.ss">


<style>
      
   <title> Soccer Tournament DB [STDB] </title>
  body, title,  h1, h2, h3, h4 {font-family: Arial, Helvetica , sans-serif} 
  body{
        margin-top: 30px; 
  	text-align:center; 
  	font-size: 15pt;
   	margin-bottom: 30px; 
   }
  .topnav {
  	top: 0; 
	position: fixed; 
	width:100%; 
 	overflow: hidden;  
   	background-color: #F0F8FF;
  }
  .topnav a.active {
  	background-color: #00FFFF;  
  	color: white;
  }
  .topnav a:hover {
	color: black;
  	background-color: #00FFFF;
  }
  .topnav a {
 	float: left; 
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none; 
	color: #00008B;
	font-size: 17px;
  }

  .botnav {
  	bottom: 0;
	position fixed;
	width:100%; 
 	overflow: hidden;  
   	background-color: #F0F8FF;
  }
  .botnav a.active {
  	background-color: #00FFFF;  
  	color: white;
  }
  .botnav a:hover {
	color: black;
  	background-color: #00FFFF;
  }

<body>
	<h1> Soccer Tournament DB [STDB] </h1> 
	<div>
		<img src="https://media.istockphoto.com/photos/feet-of-soccer-player-tread-on-soccer-ball-for-kickoff-in-the-stadium-picture-id992892836?k=6&m=992892836&s=612x612&w=0&h=CkqH_pw1zVZFdac7Z0x8dYt1FbBYROKJtHSFy-6PjgU=" alt="STDB">
	</div>

  <div>
          <table style="width:100%">
                  <h2>Upcoming Matches</h2>
                  <tr>
                          <th style="text-align:left">Home</th>
                          <th style="text-align:left">Away</th>
			  <th style="text-align:left">Date</th>
                  </tr>
                  {% for n in data1 %}
                  <tr>
                          <td>{{n[0]}}</td>
                          <td>{{n[1]}}</td>
			  <td>{{n[2]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>

  <div>
	  <table style="width:100%">
		  <h2>Top Scorers</h2>
		  <tr>
			  <th style="text-align:left">Player</th>
			  <th style="text-align:left">Goals</th>
		  </tr>
		  {% for n in range(10) %}
		  <tr>
			  <td>{{data[n][0]}}</td>
			  <td>{{data[n][1]}}</td>
		  </tr>
		  {% endfor %}
	  </table>
  </div>

  
  <div class="botnav">
	<a href="/">Home</a>
	<a href="/player">Players Edit</a>
	<a href="/team">Teams Edit</a>
	<a href="/match">Matches Edit</a>
	<a href="/tournament">Tournament Edit</a>
	<a href="/sponsor">Sponsor Edit</a>
  </div>
  <div class="topnav">
	<a class="active" href="/">Home</a>
	<a href="/playerhome">Players</a>
	<a href="/teamhome">Teams</a>
	<a href="/matchhome">Matches</a>
	<a href="/tournamenthome">The Tournament</a>
	<a href="/sponsorhome">Sponsors</a>
  </div>
</body>


</html>
