<html>
<link rel="stylesheet" href="https://ww.w3school.com/w3css/4/w3.ss">
<title> Soccer Tournament DB [STDB] </title>
  <style>
    html, body, h1, h2, h3, h4 {font-family: "Lato", sans-serif} 
    body{ 
      font-size: 15pt;
      
    }
  </style>


<body>
  <h2> Top Scorers  </h2> 
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Goals</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data[n]}}</td>
                          <td>{{data1[n]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>

  <h2> Top Assists  </h2>
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Assist</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data2[n]}}</td>
                          <td>{{data3[n]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>
 

  <h2> Top Saves  </h2>
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Saves</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data4[n]}}</td>
                          <td>{{data5[n]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>
<p><a href="/">Home</a></p>


</body>


</html>
