<html>
<head>
<link rel="stylesheet" href="stylesheet.css" >
</head> 

<body>
  <h2> Top Scorers  </h2> 
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Goals</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data[n][0]}}</td>
                          <td>{{data[n][1]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>

  <h2> Top Assists  </h2>
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Assist</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data1[n][0]}}</td>
                          <td>{{data1[n][1]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>
 

  <h2> Top Saves  </h2>
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Player</th>
                          <th style="text-align:left">Saves</th>
                  </tr>
                  {% for n in range(10) %}
                  <tr>
                          <td>{{data2[n][0]}}</td>
                          <td>{{data2[n][1]}}</td>
                  </tr>
                  {% endfor %}
          </table>
  </div>
  
  <div class="topnav">
	<a href="/">Home</a>
	<a class="active"  href="/playerhome">Players</a>
	<a href="/teamhome">Teams</a>
	<a href="/matchhome">Matches</a>
	<a href="/tournamenthome">The Tournament</a>
	<a href="/sponsorhome">Sponsors</a>
  </div>
</body>


</html>
