<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>The Soccer DataBase</h1>
  <h2>Players</h2>
  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>

<p><a href="/">Home</a></p>
<p><a href="player">Player Database</a></p>
<p><a href="team">Team Database</a></p>
<p><a href="tournament">Tournament Database</a></p>
<p><a href="match">Match Database</a></p>
<p><a href="sponsor">Sponsor Database</a></p>
<form method="POST" action="/addplayer">
	<p>Playerid: <input type="text" name="playerid"><br>
	Month: <input type="text" name="month">  Day: <input type="text" name="day"> Year: <input type="text" name="year"> <br>
	Name of player: <input type="text" name="name"><br>
	Salary: <input type="text" name="salary"><br>
	Positon: <input type="text" name="position"><br>
	Nationality of the player: <input type="text" name="nationality"><br><input type="submit" value="Add"><br></p>
</form>

</body>


</html>
