<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>The Soccer DataBase</h1>
  <h2>Players</h2>

  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Playerid</th>
                          <th style="text-align:left">DOB</th>
			  <th style="text-align:left">Name</th>
			  <th style="text-align:left">Position</th>
			  <th style="text-align:left">Salary</th>
			  <th style="text-align:left">Nationality</th>
                  </tr>
		  {% for n in data %}
                  <tr>
			  {% for m in n %}
                          	<td>{{m}}</td>
			{% endfor %}
                  </tr>
                  {% endfor %}
          </table>
  </div>
<form method="POST" action="/addplayer">
	<p>Playerid: <input type="text" name="playerid"><br>
	Month: <input type="text" name="month">  Day: <input type="text" name="day"> Year: <input type="text" name="year"> <br>
	Name of player: <input type="text" name="name"><br>
	Salary: <input type="text" name="salary"><br>
	Positon: <input type="text" name="position"><br>
	Nationality of the player: <input type="text" name="nationality"><br><input type="submit" value="Add"><br></p>
</form>

  
  <div class="botnav">
	<a href="/">Home</a>
	<a href="/player">Players Edit</a>
	<a href="/team">Teams Edit</a>
	<a href="/match">Matches Edit</a>
	<a href="/tournament">Tournament Edit</a>
	<a href="/sponsor">Sponsor Edit</a>
  </div>
  
  <div class="topnav">
	<a href="/">Home</a>
	<a href="/playerhome">Players</a>
	<a href="/teamhome">Teams</a>
	<a href="/matchhome">Matches</a>
	<a href="/tournamenthome">The Tournament</a>
	<a href="/sponsorhome">Sponsors</a>
  </div>
</body>


</html>
