<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>The Soccer DataBase</h1>
  <h2>Teams</h2>
  <div>
          <table style="width:100%">
                  <tr>
                          <th style="text-align:left">Teamid</th>
                          <th style="text-align:left">Homeground</th>
                          <th style="text-align:left">Budget</th>
                          <th style="text-align:left">Manager</th>
                          <th style="text-align:left">Nationality</th>
                  </tr>
                  {% for n in data %}
                  <tr>
                          {% for m in n %}
                                <td>{{m}}</td>
                        {% endfor %}
                  </tr>
                  {% endfor %}
          </table>
  </div>
<form method="POST" action="/addteam">
	<p>Teamid: <input type="text" name="teamid"><br>
	Homeground: <input type="text" name="homeground"><br>
	Budget: <input type="text" name="budget"><br>
	Manager: <input type="text" name="manager"><br>
	Nationality: <input type="text" name="nationality"><br>
	<input type="submit" value="Add"><br></p>
</form>

  
  <div class="topnav">
	<a href="/">Home</a>
	<a href="/playerhome">Players</a>
	<a href="/teamhome">Teams</a>
	<a href="/matchhome">Matches</a>
	<a href="/tournamenthome">The Tournament</a>
	<a href="/sponsorhome">Sponsors</a>
  </div>
</body>


</html>
